body{
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
    
}
/*navbar*/
.logo {
    float: left;
  }
  
  .nav {
    overflow: hidden;
    
  
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    color: rgb(0, 0, 0);
  
    
  }
  
  .nav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 200px;
  }
  
  .nav a:hover {
    background-color: white;
    color: black;
  }
  
  .nav a.active {
    background-color: cornflowerblue;
    color: black;
    border-radius: 15px;
  }
  /*end navbar*/
.dec{
    width: 10px;
    height: 260%;
    background-color: cornflowerblue;
    position: absolute;
}
.projetPfe{
    display: flex;
    margin-top: 50px;
}
.titre{
    
    text-align: center;
    justify-content: center;
}
.pfe{
    text-align: left;
    
    font-size: large;
    margin: 38px 0px 0px 40px;
}
.info{
    text-align: justify;
    margin-right: 40px;
}
.video{
    width: 750px;
    height:500px;
}
.pimg{
    width: 750px;
    height:500px;
}

.p{
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid green;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    transition: transform .2s;
}
.p:hover {
    transform: scale(1.2); 
  }
.p-browser{
    height: 20px;
    background-color: green;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}
.p-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    margin: 3px;
}
.p-img{
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all 15s ease;
}
.p:hover .p-img{
    transform: translateY(-100%);
}
.pp{
    margin: 40px;
}
.cadre{
    display: flex;
    justify-content: space-between;
}
.headofproject{
    margin: 40px;
    font-size: 20px;
}
.left{
    flex: 1;
    width: 50%;
}
.right{
    flex:1;
    width: 50%;
    text-align: center;
}
.imagetrainig{
    cursor: pointer;
    height: 500px;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 15px 20px lightgrey;
}
.imagecertif{
    cursor: pointer;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 15px 20px lightgrey;
    margin-left: 200px;
}
.imagecertif:hover {
    transform: scale(1.2)
}
.imagetrainig:hover {
    transform: scale(1.2)
}
.titreH{
    color: cornflowerblue;
}
.footer {
   
    bottom:0;
    
    width: 100%;
    background: cornflowerblue;
    height: 40px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 200;
  }