body{
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
    
}
/*navbar*/
.logo {
    float: left;
  }
  
  .nav {
    overflow: hidden;

  
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    color: rgb(0, 0, 0);
  

  }
  
  .nav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 200px;
  }
  
  .nav a:hover {
    background-color: white;
    color: black;
  }
  
  .nav a.active {
    background-color: cornflowerblue;
    color: black;
    border-radius: 15px;
  }
  /*end navbar*/
.hhh 
{ display: flex;
    width: 90%;
    margin: auto;
    }

.hhh div{
flex: 1;
margin: 100px 0px 0px 50px;
}
.footer {
    position:fixed;
    bottom:0;
    
    width: 100%;
    background: cornflowerblue;
    height: 40px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  a{
    text-decoration: none;
    color: white;
    font-weight: 200;
  }
  .panel {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: navy;
}
 
.question {
    font-size: 30px;
    margin-bottom: 20px;
}
 
.options {
    font-size: 20px;
    
    margin-top: 10px;
    margin-bottom: 20px;
    
}
 
button {
    margin-right: 75px;
    margin-top: 1%;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4f98c2;
    color: white;
    border: none;
    cursor: pointer;
}
 
#score {
    font-size: 30px;
    color: darkslategray;
}